# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [118]:
import pandas as pd
import numpy as np

In [119]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [207]:
black_friday.head(50)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
30,1000010,P00118742,F,36-45,1,B,4+,1,5,11.0,NaN,8886
31,1000010,P00297942,F,36-45,1,B,4+,1,8,NaN,NaN,5875
32,1000010,P00266842,F,36-45,1,B,4+,1,5,NaN,NaN,8854
33,1000010,P00058342,F,36-45,1,B,4+,1,3,4.0,NaN,10946
34,1000010,P00032442,F,36-45,1,B,4+,1,5,NaN,NaN,5152
35,1000010,P00105942,F,36-45,1,B,4+,1,5,NaN,NaN,7089
36,1000010,P00182642,F,36-45,1,B,4+,1,2,4.0,9.0,12909
37,1000010,P00186942,F,36-45,1,B,4+,1,5,12.0,NaN,8770
38,1000010,P00155442,F,36-45,1,B,4+,1,1,11.0,15.0,15212
39,1000010,P00221342,F,36-45,1,B,4+,1,1,2.0,5.0,15705
40,1000010,P00087242,F,36-45,1,B,4+,1,14,NaN,NaN,7947
41,1000010,P00111142,F,36-45,1,B,4+,1,1,15.0,16.0,18963
42,1000010,P00259342,F,36-45,1,B,4+,1,5,9.0,NaN,8718
43,1000010,P0094542,F,36-45,1,B,4+,1,2,4.0,9.0,16406
44,1000010,P00148642,F,36-45,1,B,4+,1,6,10.0,13.0,12642
45,1000010,P00312142,F,36-45,1,B,4+,1,8,NaN,NaN,10007
46,1000010,P00113242,F,36-45,1,B,4+,1,1,6.0,8.0,11562
47,1000011,P00192642,F,26-35,1,C,1,0,8,17.0,NaN,6171
48,1000011,P00110842,F,26-35,1,C,1,0,1,2.0,5.0,19327
49,1000011,P00189642,F,26-35,1,C,1,0,8,13.0,NaN,8027

In [192]:
#q1

black_friday.shape[0], black_friday.shape[1]
type((black_friday.shape[0], black_friday.shape[1]))

tuple

In [251]:
#q2

select = black_friday[(black_friday['Age'] == '26-35') & (black_friday['Gender'] == 'F')]
select.shape[0]

49348

In [195]:
#q3

black_friday['User_ID'].nunique()

type(int(black_friday['User_ID'].nunique()))

int

In [196]:
#q4

black_friday.dtypes.nunique()

type(int(black_friday.dtypes.nunique()))

int

In [100]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [198]:
#q5

print((black_friday.isnull().sum().max())/len(black_friday))
print(373299/len(black_friday))

print((black_friday['Product_Category_2'].isna() | black_friday['Product_Category_3'].isna()).sum()/len(black_friday))

type(float((black_friday['Product_Category_2'].isna() | black_friday['Product_Category_3'].isna()).sum()/len(black_friday)))

0.6944102891306734
0.6944102891306734
0.6944102891306734

float

In [137]:
#q6

black_friday.isnull().sum().max()

373299

In [159]:
#q7

black_friday['Product_Category_3'].value_counts().index[0]

16.0

In [165]:
#q8

x = (black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min())
x.mean()

0.3847939036269795

In [171]:
#q9

x = (black_friday['Purchase'] - black_friday['Purchase'].mean()) / (black_friday['Purchase'].std())
x[(x>-1) & (x<=1)].count()

348631

In [253]:
#q10

idx1 = black_friday.index[black_friday['Product_Category_2'].isnull()]
bool((black_friday.loc[idx1, 'Product_Category_2'].isnull() & black_friday.loc[idx1, 'Product_Category_3'].isnull()).all())

True

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [193]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return (black_friday.shape[0], black_friday.shape[1])

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [252]:
def q2():
    # Retorne aqui o resultado da questão 2.
    select = black_friday[(black_friday['Age'] == '26-35') & (black_friday['Gender'] == 'F')]
    return int(select.shape[0])

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [31]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return int(black_friday['User_ID'].nunique())

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [70]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return int(black_friday.dtypes.nunique())

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [129]:
def q5():
    # Retorne aqui o resultado da questão 5.
    
    return float((black_friday['Product_Category_2'].isna() | black_friday['Product_Category_3'].isna()).sum()/len(black_friday))

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [138]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return int(black_friday.isnull().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [160]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return int(black_friday['Product_Category_3'].value_counts().index[0])

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [166]:
def q8():
    # Retorne aqui o resultado da questão 8.
    x = (black_friday['Purchase'] - black_friday['Purchase'].min()) / (black_friday['Purchase'].max() - black_friday['Purchase'].min())
    return float(x.mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [172]:
def q9():
    # Retorne aqui o resultado da questão 9.
    x = (black_friday['Purchase'] - black_friday['Purchase'].mean()) / (black_friday['Purchase'].std())
    return int(x[(x>-1) & (x<=1)].count())

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [242]:
def q10():
    # Retorne aqui o resultado da questão 10.
    idx1 = black_friday.index[black_friday['Product_Category_2'].isnull()]
    return bool((black_friday.loc[idx1, 'Product_Category_2'].isnull() & black_friday.loc[idx1, 'Product_Category_3'].isnull()).all())